@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-default {
    @apply mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white
}

.badge {
    @apply text-xs font-medium mr-2 px-2.5 py-0.5 rounded
}

.badge-blue {
    @apply bg-blue-100 text-blue-800
}

.badge-gray {
    @apply bg-gray-100 text-gray-800 dark:bg-neutral-600 dark:text-white
}

.badge-mango {
    @apply bg-mango-100 text-mango-800
}

.box {
    @apply p-6 bg-white dark:bg-neutral-800 border border-gray-200 dark:border-neutral-600 rounded-lg shadow
}

.vertical-slider {
    height: 380px;
    width: 50px;
    border: 1px solid grey;
}

.rating-thumb.active {
    @apply bg-mango-600
}

.rating-mark {
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
}

.horizontal-slider .rating-track {
    top: 20px;
    height: 10px;
}

.horizontal-slider .rating-thumb {
    top: 1px;
    line-height: 38px;
}

.horizontal-slider .rating-mark {
    margin: 0 calc(25px - 6px);
    bottom: calc(50% - 6px);
}
